.category-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; /* Espacio entre los botones */
}

.all-button {
  position: relative;
  z-index: 1; /* Coloca el botón "Todos" en la parte superior */
  background-color: blue; /* Color de fondo activo */
  color: white; /* Color de texto activo */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.all-button.active {
  background-color: rgb(200, 21, 158); /* Color de fondo activo */
}

/* Estilos de los botones de categoría */
button {
  background-color: rgb(79, 91, 193); /* Color de fondo inactivo */
  color: white; /* Color de texto inactivo */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

button.active {
  background-color: blue; /* Color de fondo activo */
}
