
.create-article-button {
  font-size: 24px;
  background-color: #006a8c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Lalezar', cursive;
  text-decoration: none;
  margin-bottom: 20px;
  align-self: flex-end; /* Alinea el botón a la derecha */
}

.create-article-button:hover {
  background-color: #00465d;
}